<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}"/>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v3.js"></script>

    <!-- Utility functions -->
    <script src="{% static 'script.js' %}"></script>

    <!-- For inherited templates -->
    {% block head_content %} {% endblock %}

    <title>{{ title }}</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Code11</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form id="load_data" action="{% url 'load_data' %}" method="get">
                <input type="hidden" id="plugin_id" name="plugin_id">
                <ul class="nav navbar-nav">
                    <li><input type="text" id="file_path" name="file_path" class="input-control" placeholder="Path..."
                               value="{{ request.session.file_path }}" autofocus></li>
                    {% if read_plugins %}
                        {% for p in read_plugins.values %}
                            <li>
                                <a href="javascript:submitLoadDataForm('{{ p.identifier }}')">
                                    {{ p.name }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </form>
        </div>
    </div>
</nav>

<div class="container-full">
    <div class="row main-content">
        <div class="col-md-3">
            <div id="tree_div" class="tree-view">
                {% block tree_view_content %}{% endblock %}
            </div>
        </div>
        <div class="col-md-9">
            {% block display_data_navigation %}{% endblock %}

            <div class="force-relative">
                <div id="center_div">
                    {% block graph_content %}{% endblock %}
                </div>
                <div id="bird_div">
                    {% block bird_view_content %}{% endblock %}
                </div>
            </div>

            {% block operations_content %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>